
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
font-family: "Open Sans Regular";
src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
font-family: "Open Sans Bold";
src: url("../assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
font-family: "Open Sans Bold";
src: url("../assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
font-family: "Open Sans SemiBold";
src: url("../assets/fonts/OpenSans-SemiBold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1{
  font-family: "Open Sans Bold";
}

h2 {
  font-family: "Open Sans SemiBold";
}